@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* { 
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inter', sans-serif;
  background: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  display: none;
}
.show {
  display: block;
}
.hidden {
  display: none;
}
.container h1 {
  text-align: center;
  margin: 50px;
}

form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
}
.form-control label {
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #a7a1a0;
}

.form-control i.fa-check {
  position: absolute;
  color: #31ca15;
  top: 35px;
  right: 5px;
  bottom: 0px;
  visibility: hidden;
}

.form-control i.fa-close {
  position: absolute;
  color: #ec5a36;
  top: 35px;
  right: 5px;
  bottom: 0px;
  visibility: hidden;
}
.form-control input:focus {
  outline: none;
  border: 1px solid #1d1a1a;
}
.form-control small {
  display: block;
  color: #ec5a36;
  visibility: hidden;
}

.form-control.success  input{
  border:  1px solid #31ca15;
}

.form-control.success  i.fa-check{
  visibility: visible;
}
.form-control.error  input{
  border:  1px solid #ec5a36;
}
.form-control.error   small{
  visibility: visible;
}
.form-control.error   i.fa-close{
  visibility: visible;
}

.toggle-img-1, 
.toggle-img-2 {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 20px;
}
.btn {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #ff7e33;
  background: #ff7e33;
 outline: none;
}

.login-btn {
  position: absolute;
  top: 10px;
  right: 28%;
  /* width: 30px; */
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #ff7e33;
  background: #ff7e33;
  outline: none;
}

.success-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: green;
  color: white;
  padding: 20px;
  text-align: center;
}

.success-box i {
  font-size: 48px;
  margin-bottom: 10px;
}

/* mobile */
@media(max-width: 500px) {
  .container {
    width: 95%;
  }
}